body {
  background: #f9f7fe;
  font-family: monospace;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 40px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 14px;
  display: flex;
  margin-bottom: 30px;
}
.direction {
  padding: 16px;
  border: 1.5px solid black;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: black;
}
.generate-button {
  margin-left: 10px;
  background: hotpink;
  color: white;
  width: 130px;
  font-size: 15px;
  border: none;
  border-radius: 50px;
  padding: 15px 24px;
  cursor: pointer;
}
.suggestions-box {
  font-size: 15px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid hotpink;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
footer {
  font-size: 10px;
  text-align: center;
}
a {
  color: hotpink;
}
